@import './assets/scss/_keyframes';

.app {
    .header {
        position: absolute;
        width: 100%;
        z-index: 10;

        .headerImage {
            background-image: url('/src/assets/images/header 1.png');
            width: 100%;
            height: 25vw;
            left: 0;
            top: 0;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .brand {
            max-width: 7vw;
            width: 100%;
            position: absolute;
            top: 1.3vw;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .firstScreen {
        min-height: 100vh;
        position: relative;

        .heroImage {
            background-image: url('/src/assets/images/hero image bg 1.png');
            width: 100%;
            height: 100vh;
            left: 0;
            top: 0;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .shadow {
            position: absolute;
            z-index: 9;
            width: 100%;
            height: 100%;
            background-color: #000000ab;
            top: 0;
            left: 0;
            opacity: 0;
            transition: 0.3s;

            &.showShadow {
                opacity: 1;

                &.fullShadow {
                    z-index: 100;
                }
            }
        }

        .dragon {
            position: absolute;
            width: 100%;
            top: 6vw;
            z-index: 1;
        }

        .bag {
            position: absolute;
            width: 100%;
            top: 24vw;
            z-index: 3;

            &.showBag {
                z-index: 53;
            }
        }

        .goldenTree {
            position: absolute;
            top: 7vw;
            left: 50%;
            transform: translateX(-50%);
            z-index: 9;
            width: 40vw;

            &.shine {
                opacity: 0;
            }

            &.activeTree {
                opacity: 1;
                animation-name: shine;
                animation-duration: 2s;
                animation-fill-mode: forwards;

                @keyframes shine {
                    0% {
                        opacity: 0;
                    }
                    30% {
                        opacity: 1;
                    }
                    80% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }

            &.showTree {
                z-index: 51;
            }

            &.shake {
                animation-name: shake;
                animation-duration: 0.3s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-fill-mode: forwards;

                @keyframes shake {
                    0% {
                        transform: translateX(-50%) rotate(0deg);
                    }
                    10% {
                        transform: translateX(-50%) rotate(0deg);
                    }
                    30% {
                        transform: translateX(-50%) rotate(1deg);
                    }
                    70% {
                        transform: translateX(-50%) rotate(-1deg);
                    }
                    90% {
                        transform: translateX(-50%) rotate(-0deg);
                    }
                    100% {
                        transform: translateX(-50%) rotate(0deg);
                    }
                }
            }
        }

        .clickable {
            position: relative;
            height: 26vw;
            background-color: transparent;
            left: 50%;
            z-index: 101;

            position: absolute;
            top: 10vw;
            transform: translateX(-50%);
            width: 32vw;

            &.disableClickable {
                z-index: -1;
            }

            .hand {
                position: absolute;
                transform: translate(-10vw, -50vw);
                left: 15vw;
                top: 13vw;
                opacity: 0;
                width: 9vw;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                z-index: 7;

                &.showHand {
                    opacity: 1;
                    animation-name: pointing-hand;
                    @keyframes pointing-hand {
                        0% {
                            transform: translate(50%, 50%);
                        }
                        50% {
                            transform: translate(-10%, -50%);
                        }
                        100% {
                            transform: translate(50%, 50%);
                        }
                    }
                }
            }
        }

        .cloud {
            position: absolute;
            width: 100%;
            z-index: 2;
            top: 25vw;

            &.showCloud {
                z-index: 52;
            }
        }

        .title {
            width: 50vw;
            z-index: 9;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 35vw;

            &.showTitle {
                z-index: 54;
            }
        }



        .button1 {
            z-index: 9;
            width: 22vw;
            top: 44.5vw;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            cursor: pointer;

            animation-name: zoom;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;

            @keyframes zoom {
                0% {
                    transform: translateX(-50%) scale(1);
                }
                40% {
                    transform: translateX(-50%) scale(1.05);
                }
                60% {
                    transform: translateX(-50%) scale(1.05);
                }
                100% {
                    transform: translateX(-50%) scale(1);
                }
            }

            &.disableClick {
                z-index: 8;
            }
        }

        .arrow {
            position: fixed;
            bottom: 40px;
            right: 40px;
            cursor: pointer;
            transition: 0.3s;
            display: block;
            width: 3vw;
            z-index: 100;

            &.up {
                transform: rotate(180deg);
            }
        }

        .envelopeContainer {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            transition: 0.3s;
            opacity: 0;

            .envelope {
                width: 20vw;
            }

            .buttonOpen {
                position: absolute;
                width: 20vw;
                left: 50%;
                top: 45vh;
                transform: translate(-50%, -50%);
                z-index: 10;
                transition: 0.3s;
                animation-name: bounceOpen;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                cursor: pointer;

                @keyframes bounceOpen {
                    0% {
                        transform: translate(-50%, -50%) scale(1);
                    }
                    40% {
                        transform: translate(-50%, -50%) scale(1.05);
                    }
                    60% {
                        transform: translate(-50%, -50%) scale(1.05);
                    }
                    100% {
                        transform: translate(-50%, -50%) scale(1);
                    }
                }
            }

            &.showEnvelope {
                transform: translate(-50%, -50%);
                z-index: 101;
                @include bounceOnce(0.6s);
            }
        }

        .prizesContainerResult {
            z-index: -1;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            opacity: 0;

            &.showPrizesResult {
                @include bounceOnce;
                z-index: 101;
                opacity: 1;
            }

            .prizesResult {
                width: 40vw;
            }

            .buttonOk {
                width: 30vw;
                position: absolute;
                bottom: 4vw;
                cursor: pointer;
                @include bounce;
            }

            .playerLife {
                position: absolute;
                left: 50%;
                top: calc(50% + 3vw);
                transform: translate(-50%, -50%);
                font-size: 5vw;
                font-weight: 700;
                font-family: sans-serif;
                color: #c0272e;
            }
        }
    }

    .subContent {
        position: relative;
        width: 100%;
        margin-top: 12vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('/src/assets/images/COIN 1.png');
        align-items: center;
        padding-bottom: 3vh;

        .coin {
            background-image: url('/src/assets/images/COINS 1.png');
        }

        .howToplay {
            width: 50vw;
        }

        .howToClaimButton {
            width: 30vw;
            margin-top: 2vw;
        }

        .howToClaim {
            width: 60vw;
            margin-top: 2vw;
        }

        .prizesContainer {
            padding-top: 5vw;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .howToClaimDropdown {
                width: 40vw;
                position: absolute;
                transition: 0.3s;
                cursor: pointer;

                &:hover {
                    transform: scale(1.05);
                }
            }

            &.show {
                margin-bottom: 15vw;
            }

            .prizes {
                z-index: -1;
                transition: 0.3s;
                width: 0%;
                transform: scaleY(0);

                &.show {
                    width: 50vw;
                    transform: scaleY(1);
                }
            }
        }
    }
    .footerContainer {
        width: 100vw;
        position: relative;

        .footer {
            width: 100%;
            display: block;
        }

        .footerBrand {
            max-width: 7vw;
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @media screen and (max-width: 768px) {
    }

    @media screen and (max-width: 430px) {
        .subContent {
            margin-top: 0;

            .coin {
                display: none;
            }

            .howToplay {
                width: 90vw;
            }

            .howToClaimButton {
                width: 70vw;
            }

            .howToClaim {
                width: 90vw;
            }

            .prizesContainer {
                padding-top: 4vw;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .howToClaimDropdown {
                    width: 70vw;
                    position: absolute;
                }

                &.show {
                    margin-bottom: 15vw;
                }

                .prizes {
                    z-index: -1;
                    transition: 0.3s;
                    width: 0%;
                    height: 0%;
                    transform: scaleY(0);

                    &.show {
                        width: 100%;
                        height: 100%;
                        transform: scaleY(1);
                    }
                }
            }
        }

        .firework {
            display: none;
        }
        .dragon {
            display: none;
        }
        .header {
            .headerImage {
                height: 25vw;
                left: 0;
                top: 0;
                background-size: contain;
                background-repeat: no-repeat;
                background-size: 200%;
                background-position-x: 50%;
            }
            .brand {
                margin-top: 2vw;
                width: 15vw;
                max-width: unset;
            }
        }

        .firstScreen {
            .title {
                top: 73vh;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 95vw;
                z-index: 3;
            }

            .button1 {
                bottom: 5vh;
                top: unset;
                width: 70vw;
            }

            .goldenTree {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100vw;
                z-index: 1;

                &.shake {
                    animation-name: shake;
                    animation-duration: 0.3s;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards;

                    @keyframes shake {
                        0% {
                            transform: translate(-50%, -50%) rotate(0deg);
                        }
                        10% {
                            transform: translate(-50%, -50%) rotate(0deg);
                        }
                        30% {
                            transform: translate(-50%, -50%) rotate(1deg);
                        }
                        70% {
                            transform: translate(-50%, -50%) rotate(-1deg);
                        }
                        90% {
                            transform: translate(-50%, -50%) rotate(-0deg);
                        }
                        100% {
                            transform: translate(-50%, -50%) rotate(0deg);
                        }
                    }
                }
            }

            .cloud {
                top: calc(50% + 10vh);
                z-index: 2;
            }

            .bag {
                top: calc(50% + 7vh);
                z-index: 3;
            }

            .clickable {
                width: 100vw;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 37vh;

                .hand {
                    width: 25vw;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            .envelopeContainer {
                width: 100%;

                .envelope {
                    position: absolute;
                    width: 50vw;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }

                .buttonOpen {
                    width: 50vw;
                    left: 50%;
                    top: calc(50% + 23vw);
                    transform: translate(-50%, -50%);
                }
            }

            .prizesContainerResult {
                .prizesResult {
                    width: 90vw;
                }

                .buttonOk {
                    width: 60vw;
                    bottom: 10vw;
                }

                .playerLife {
                    position: absolute;
                    left: 50%;
                    top: calc(50% + 8vw);
                    transform: translate(-50%, -50%);
                    font-size: 10vw;
                    font-weight: 700;
                    font-family: sans-serif;
                    color: #c0272e;
                }
            }
            .arrow {
                width: 10vw;
                bottom: 4vw;
                right: 4vw;
            }
        }
    }
}

@keyframes firework {
    0% {
        transform: translate(var(--x), var(--initialY));
        width: var(--initialSize);
        opacity: 1;
    }
    50% {
        width: 0.5vmin;
        opacity: 1;
    }
    100% {
        width: var(--finalSize);
        opacity: 0;
    }
}

.fireworkContainer1 {
    transform: rotate(65deg);
    position: absolute;
    top: 25vw;
    left: 18vw;
}

.fireworkContainer2 {
    transform: rotate(-65deg);
    position: absolute;
    top: 25vw;
    left: 82vw;
}

.firework,
.firework::before,
.firework::after {
    --initialSize: 0.5vmin;
    --finalSize: 85vmin;
    --particleSize: 0.2vmin;
    --color1: gold;
    --color2: white;
    --color3: gold;
    --color4: white;
    --color5: gold;
    --color6: white;
    --y: -30vmin;
    --x: -50%;
    --initialY: 60vmin;
    content: '';
    animation: firework 2s infinite;
    position: absolute;
    z-index: -1;
    top: 30%;
    left: 10%;
    transform: translate(-50%, var(--y));
    z-index: -1;
    width: var(--initialSize);
    aspect-ratio: 1;
    background: 
      /*
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
      */ radial-gradient(
                circle,
                var(--color1) var(--particleSize),
                #0000 0
            )
            50% 0%,
        radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100%
            50%,
        radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50%
            100%,
        radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0%
            50%,
        /* bottom right */
            radial-gradient(circle, var(--color5) var(--particleSize), #0000 0)
            80% 90%,
        radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95%
            90%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90%
            70%,
        radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100%
            60%,
        radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55%
            80%,
        radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70%
            77%,
        /* bottom left */
            radial-gradient(circle, var(--color5) var(--particleSize), #0000 0)
            22% 90%,
        radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45%
            90%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33%
            70%,
        radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10%
            60%,
        radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31%
            80%,
        radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28%
            77%,
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13%
            72%,
        /* top left */
            radial-gradient(circle, var(--color6) var(--particleSize), #0000 0)
            80% 10%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95%
            14%,
        radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90%
            23%,
        radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100%
            43%,
        radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85%
            27%,
        radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77%
            37%,
        radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60%
            7%,
        /* top right */
            radial-gradient(circle, var(--color1) var(--particleSize), #0000 0)
            22% 14%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45%
            20%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33%
            34%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10%
            29%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31%
            37%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28%
            7%,
        radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13%
            42%;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
}

.firework::before {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
    /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
    transform: translate(-50%, -50%) rotate(40deg) scale(1) rotateY(40deg);
    /*   animation: fireworkPseudo 2s infinite; */
}

.firework::after {
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
    /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
    transform: translate(-50%, -50%) rotate(170deg) scale(1) rotateY(-30deg);
    /*   animation: fireworkPseudo 2s infinite; */
}
